<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<!-- <suite name="AllTestsSuite" verbose="1"> -->
    <suite name="Annotation Execution Suite" >
        <test name="MyTestGroup">
        <parameter name="program"  value="Bootcamp Web Automation"/>
            <classes>
                <class name="runner.TestRunnerOrder"/>
            </classes>
        </test>
    </suite>
<!-- </suite> -->